$md: 576px;
$lg: 991px;
$xl: 1366px;

@mixin bp-sm {
  @media screen and (max-width: $md) {
    @content;
  }
}

@mixin bp-md {
  @media screen and (min-width: $md) and (max-width: $lg) {
    @content;
  }
}

@mixin bp-lg {
  @media screen and (min-width: $lg) and (max-width: $xl) {
    @content;
  }
}

@mixin bp-xl {
  @media screen and (min-width: $xl) {
    @content;
  }
}
