@import '~normalize.css/normalize.css';
@import '~flatpickr/dist/flatpickr.min.css';
@import 'mixins/util';

.action-button {
  background-color: #3273dc;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-top: 7px;
  padding: 5px 7px;
  text-decoration: none;

  &-alt {
    background-color: #d4242c;
  }

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.ad-elem {
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  padding: 10px 20px;
  transition-duration: .5s;
  transition-property: box-shadow, transform;
  transition-timing-function: ease;

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
  }

  &[data-type="pick"] {
    flex-direction: column;

    .title {
      margin-bottom: 15px;
    }

    &.left {
      align-items: flex-start;

      .countdown {
        justify-content: flex-start;
      }
    }

    &.center {
      align-items: center;

      .countdown {
        justify-content: center;
      }
    }

    &.right {
      align-items: flex-end;

      .countdown {
        justify-content: flex-end;
      }
    }
  }

  &.mlb {
    background-color: #a8Bad7;
  }

  &.nfl {
    background-color: #0c040d;
    color: #ddd;
  }

  &.nba {
    background-color: #c22c0c;
    color: #fff;
  }

  &:hover {
    box-shadow: 0 6px 9px rgba(#ccc, .8);
    transform: scale(1.01);
  }
}

form {
  .input-group {
    align-items: center;
    display: flex;

    &.hidden {
      display: none;
    }

    label {
      font-size: 16px;
      margin-right: 5px;
    }

    input {
      border-radius: 3px;
      padding: 5px 10px;
    }

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
}

.ads-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));

  .ad-admin {
    align-items: flex-start;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 15px;

    .edit-link {
      margin-top: auto;
    }

    .label-text {
      margin-bottom: 5px;
    }

    input {
      border-radius: 3px;
      width: 100%;
    }

    > *:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.countdown {
  @include bp-sm {
    display: flex;
    flex-wrap: wrap;
  }

  .countdown-square {
    align-items: center;
    background-color: #fff;
    border-radius: 3px;
    color: #333;
    display: inline-flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 7px;
    padding: 5px 7px;

    > span  {
      font-weight: normal;
    }
  }
}
